/* stylelint-disable */
@font-face {
  font-family: Ciutadella;
  src:
    url(./asset/font/Ciutadella/35A006_0_0.woff2) format('woff2'),
    url(./asset/font/Ciutadella/35A006_0_0.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Ciutadella;
  src:
    url(./asset/font/Ciutadella/35A006_2_0.woff2) format('woff2'),
    url(./asset/font/Ciutadella/35A006_2_0.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ciutadella;
  src:
    url(./asset/font/Ciutadella/35A006_1_0.woff2) format('woff2'),
    url(./asset/font/Ciutadella/35A006_1_0.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src:
    url(./asset/font/roboto/roboto-v18-latin-300.woff2) format('woff2'),
    url(./asset/font/roboto/roboto-v18-latin-300.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src:
    url(./asset/font/roboto/roboto-v18-latin-regular.woff2) format('woff2'),
    url(./asset/font/roboto/roboto-v18-latin-regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src:
    url(./asset/font/roboto/roboto-v18-latin-500.woff2) format('woff2'),
    url(./asset/font/roboto/roboto-v18-latin-500.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

//

body {
  background-color: #fff;
}

iframe {
  border: 0;
  display: block;
}

html {
  font-size: 100%;
}

body {
  font-weight: 300;
  font-size: 1.125rem;
}

body,
button,
input,
optgroup,
textarea {
  font-family: Roboto;
}

select,
span {
  font-weight: 300;
}

p {
  line-height: 2rem;
  margin-bottom: 1rem;
  color: #343434;
}

p a {
  text-decoration: underline;
  font-size: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: Ciutadella;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #00526e;
}

/* stylelint-enable */
